SERVICE_NETWORK=supabase_default
SSL_PORT=8443
SSL_CERTS_PATH=/home/docker/certs

KONG_UPSTREAM=kong:8000

CERT_CHECK_INTERVAL=60
DEFAULT_CERT=docker-alpine.lucami.org

# Future multi-tenant settings, disabled for now
# TENANT1_SERVER_NAME=api.example.com
# TENANT1_UPSTREAM=kong:8000
# TENANT1_CERT=api-example-com
