# server {
#     listen 443 ssl default_server;
#     http2 on;
#     server_name _;
#
#     ssl_certificate     /etc/nginx/certs/${DEFAULT_CERT}/fullchain.pem;
#     ssl_certificate_key /etc/nginx/certs/${DEFAULT_CERT}/privkey.pem;
#
#     return 444;
# }